.navbar-default{
    background-color: cornflowerblue;
  
}
.fixed-right{
  left: auto;
}
.sidebar {
    background-color: cornflowerblue;
  }

  html, body{
    height: 100vh;
    max-height: 100vh;
 }

 .rodape{
   background-color: cornflowerblue;

  }

  .post-imagem{
    display: block;
    margin:auto;
  }

  .posts-content{
    margin-top:20px;    
}
.ui-w-40 {
    width: 50px !important;
    height: auto;
}
.default-style .ui-bordered {
    border: 1px solid rgba(24,28,33,0.06);
}
.ui-bg-cover {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}
.ui-rect {
    padding-top: 50% !important;
    width: 100% !important;
    display: block !important;
}
.ui-rect-image{
 width: 100px;
 height: 100px;
}
 .ui-rect-30, .ui-rect-60, .ui-rect-67, .ui-rect-75 {
    position: relative !important;
    display: block !important;
    padding-top: 100% !important;
    width: 100% !important;
}
.d-flex, .d-inline-flex, .media, .media>:not(.media-body), .jumbotron, .card {
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.bg-dark {
    background-color: rgba(24,28,33,0.9) !important;
}
.card-footer, .card hr {
    border-color: rgba(24,28,33,0.06);
}
.ui-rect-content {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}
.default-style .ui-bordered {
    border: 1px solid rgba(24,28,33,0.06);
}


.comments-list{
    padding-top: 10px;
}
.widget .panel-body {
    padding: 0px;
}
.widget .list-group {
    margin-bottom: 0;
}
.widget .panel-title {
    display: inline;
}
.widget .label-info {
    float: right;
}
.widget li.list-group-item {
    padding: 0px;
    margin: 0px;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ddd;
}
.widget li.list-group-item:hover {
    background-color: rgba(86, 61, 124, 0.1);
}
.widget .mic-info {
    color: #666666;
    font-size: 11px;
}
.widget .action {
    margin-top: 5px;
}
.widget .comment-text {
    font-size: 12px;
}
.widget .btn-block {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.img-user {
    width: 80px;
    height: 80px;
    padding: 0px;
    margin: 0px;

}